:root {
  --font-family: system-ui, sans-serif,
        "Noto Sans", "Segoe UI", "Noto Sans Symbols 2", "Segoe UI Symbol";
}

main {
    text-align: center;
}

aside {
    display: flex;
    justify-content: space-between;
}

footer > em {
    float: right;
    font-size: smaller;
}

footer > a {
    float: left;
}

figure figcaption {
    color: var(--color);
    font-size: larger;
    font-weight: bolder;
}

table th[scope=row] {
    width: 25%;
}

table > tfoot th {
    padding: 20px 1rem 1rem;
}

table > tfoot td {
    font-size: x-large;
}

table + hr {
    border-top-width: 4px;
}

math {
    font-size: larger;
}

span + math {
    margin-left: 0.25ex;
}

input:invalid {
    border-color: darkred;
}

span[data-tooltip] {
    border-bottom: none;
}

span[data-tooltip]::before {
    white-space: pre-wrap;
}

progress.very-weak::-webkit-progress-bar,
progress.very-weak::-moz-progress-bar {
    background-color: maroon;
}

progress.weak::-webkit-progress-bar,
progress.weak::-moz-progress-bar {
    background-color: firebrick;
}

progress.moderate::-webkit-progress-bar,
progress.moderate::-moz-progress-bar {
    background-color: darkorange;
}

progress.strong::-webkit-progress-bar,
progress.strong::-moz-progress-bar {
    background-color: seagreen;
}

progress.very-strong::-webkit-progress-bar,
progress.very-strong::-moz-progress-bar {
    background-color: green;
}

dialog .title {
    color: darkred;
    font-size: larger;
}

.hide {
    visibility: hidden;
}

#switch-theme {
    width: max-content;
    border-radius: 50%;
    font-size: larger;
    padding: 0.1rem 0.45rem;
}

#roll-dice img {
    height: auto;
    max-width: 400px;
    width: calc(100vw / 1.5);
    border-radius: 7.5%;
}

:root[data-theme=light] #roll-dice img {
    filter: invert(0.8);
}
